@model IEnumerable<MvcExamenApi1.Models.PersonajeSerie>

@{
    ViewData["Title"] = "PersonajesSeries";
    var series = ViewData["SERIES"] as List<string>;
}

<h1>PersonajesSeries</h1>

<form method="post">
    <label>Selecciona una series</label>
    <select name="serie">
        @foreach (string ser in series)
        {
            <option value="@ser">@ser</option>
        }
    </select>
    <button class="btn btn-outline-primary">
        Probar
    </button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPersonaje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serie)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPersonaje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serie)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdPersonaje }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdPersonaje }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdPersonaje })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


